{% extends 'accountingmainTemplate.html' %}
{%load static%}
{% block content %}
<div class="p-5">
    <div class="row p-3 mb-2 bg-secondary text-white">
        <h4>الحسابات العامة</h4>

    </div>

    <div class="row">
        <div class="col-md-3">
            <img src="/static/imgs/main.png" alt="Scanfcode" class="bg-white" style="width: 100%;">
        </div>
       
        <div class="col-md-6 bg-secondary">
            <div class="row m-2 text-center" style="font-size: 20px;background: #c0bbb3;padding-top: 6px;border-radius: 10px;direction: rtl;">
                <div class="form-check col-md-4 text-right">
                    <input type="radio" name="options" id="calculations" value="1" checked>
                    <label for="calculations">
                      الحسابات
                    </label>
                </div>


                  <div class="form-check col-md-4 text-right">
                    <input type="radio" name="options" id="destroy" value="2" >
                    <label for="destroy">
                        اهلاك واحتياطى
                    </label>
                </div>

                  <div class="form-check col-md-4 text-right">
                    <input type="radio" name="options" id="ends" value="3" >
                    <label for="ends">
                      ختاميات
                    </label>
                  </div>
            </div>

            <div class="row m-2 text-center" style="font-size: 20px;background: #c0bbb3;padding-top: 6px;border-radius: 10px;direction: rtl;">
                <div class="form-check col-md-4 text-right">
                    <input type="radio" name="dalel" id="dalel" value="/{{LANGUAGE_CODE}}/accounting/dalel/" checked>
                    <label for="dalel">
                      الدليل
                    </label>
                </div>


                  <div class="form-check col-md-4 text-right">
                    <input type="radio" name="dalel" id="arseda" value="/{{LANGUAGE_CODE}}/accounting/arseda/" >
                    <label for="arseda">
                        أرصدة افتتاحية
                    </label>
                </div>

                  
            </div>

            <div class="row m-2 text-center" style="font-size: 20px;background: #c0bbb3;padding-top: 6px;border-radius: 10px;direction: rtl;">
                <div class="form-check col-md-4 text-right">
                    <input type="radio" name="qyod" id="qyod" value="/{{LANGUAGE_CODE}}/accounting/qyod/" checked>
                    <label for="qyod">
                      قيود يومية
                    </label>
                </div>


                  <div class="form-check col-md-4 text-right">
                    <input type="radio" name="qyod" id="qyodUSA" value="/{{LANGUAGE_CODE}}/accounting/qyodUSA/" >
                    <label for="qyodUSA">
                        يومية أمريكية
                    </label>
                </div>

                  <div class="form-check col-md-4 text-right">
                    <input type="radio" name="qyod" id="qyodReport" value="/{{LANGUAGE_CODE}}/accounting/qyodReport/" >
                    <label for="qyodReport">
                      تقارير
                    </label>
                  </div>
            </div>


            <div class="row m-2 text-center" style="font-size: 20px;background: #c0bbb3;padding-top: 6px;border-radius: 10px;direction: rtl;">
                <div class="form-check col-md-4 text-right">
                    <input type="radio" name="tarhel" id="tarhel" value="1" checked>
                    <label for="tarhel">
                      ترحيل
                    </label>
                </div>


                  <div class="form-check col-md-4 text-right">
                    <input type="radio" name="tarhel" id="tarhelCancel" value="2" >
                    <label for="tarhelCancel">
                        الغاء الترحيل
                    </label>
                </div>

                 
            </div>


            <div class="row m-2 text-center" style="font-size: 20px;background: #c0bbb3;padding-top: 6px;border-radius: 10px;direction: rtl;">
                <div class="form-check col-md-4 text-right">
                    <input type="radio" name="report" id="report" value="1" checked>
                    <label for="report">
                      الدليل المحاسبى
                    </label>
                </div>


                  <div class="form-check col-md-4 text-right">
                    <input type="radio" name="report" id="reportdaily" value="2" >
                    <label for="reportdaily">
                        قيود يومية
                    </label>
                </div>

                  <div class="form-check col-md-4 text-right">
                    <input type="radio" name="report" id="reportEsnad" value="3" >
                    <label for="reportEsnad">
                      الأسناد
                    </label>
                  </div>
            </div>


            <div class="row m-2 text-center" style="font-size: 20px;background: #c0bbb3;padding-top: 6px;border-radius: 10px;direction: rtl;">
                <div class="form-check col-md-4 text-right">
                    <input type="radio" name="EndReport" id="EndReport" value="1" checked>
                    <label for="EndReport">
                      مقبوضات ومدفوعات
                    </label>
                </div>


                  <div class="form-check col-md-4 text-right">
                    <input type="radio" name="EndReport" id="EndReportdestroy" value="2" >
                    <label for="EndReportdestroy">
                        الأهلاكات
                    </label>
                </div>

                  <div class="form-check col-md-4 text-right">
                    <input type="radio" name="EndReport" id="EndReportbox" value="3" >
                    <label for="EndReportbox">
                      الميزانيات
                    </label>
                  </div>
            </div>

           

            


                               
        </div>
        
        <div class="col-md-3">
            <div class="row m-2">
                <button class="boxButton" id="optionsButton">الاعداد</button>
            </div>

            <div class="row m-2">
                <button class="boxButton" id="dalelButton" href="/{{LANGUAGE_CODE}}/accounting/dalel/">الدليل المحاسبى</button>
            </div>

            <div class="row m-2">
                <button class="boxButton" id="qyodButton" href="/{{LANGUAGE_CODE}}/accounting/qyod/">اليومية</button>
            </div>

            <div class="row m-2">
                <button class="boxButton" id="tarhelButton">ترحيل الحسابات</button>
            </div>

            <div class="row m-2">
                <button class="boxButton" id="reportButton">التقارير</button>
            </div>

            <div class="row m-2">
                <button class="boxButton" id="EndReportButton">تقارير ختامية</button>
            </div>


                               
        </div>

    </div>

</div>


{% endblock %}



{% block Extrajavascripts %}
<script>
  $('input[type=radio]').change(function() {
    $('#'+this.name+"Button").attr('href',this.value);
  });



  $(".boxButton").click(function(event) {
    // console.log($(event.target).attr('href'))
    if($(event.target).attr('href')!=null){
      window.location.href =$(event.target).attr('href');
    }
  });
</script>
{% endblock %}

