<!DOCTYPE html>
<html lang="ar">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="cache-control" content="no-cache" />
      <meta http-equiv="Pragma" content="no-cache" />
      <meta http-equiv="Expires" content="-1" />
      {%load static%}

      
      <link rel="icon" type="image/png" sizes="32x32" href="/static/img/onlydispatch_icon.png">
      <!--Start of the imports css-->
      {% block importsData %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
     
      {% endblock %}
     

      {% block ExtraimportsData %}
      
      {% endblock %}
     
      {% block title %}
        <title>All Accounting</title>
        
        {% endblock %}
      <!--End of the imports css-->
      </head>
        
      <body>

        
        <div id="loading">
          <div id="loadingImg"></div>
        </div>


        <!--Start of the content-->
      {% block content %}


      {% endblock %}

      <!--End of the content-->


      <!--Start of the imports js-->
    {% block javascripts %}
    <script src="{% static 'js/jquery.min.js' %}"></script> 
    <script src="{% static 'js/popper.min.js' %}"></script> 
    <script src="{% static 'js/bootstrap.min.js' %}"></script> 

    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script>


function showLoader(){
    // $('#loading').fadeIn('fast');
    $('#loading').css({display:'block'});
    // console.log('Showennn');
}

function hideLoader(){
    $('#loading').css({display:'none'});
    // console.log('hide');
}


function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');


   </script>
    {% endblock %}

    {% block Extrajavascripts %}

    {% endblock %}






	</body>
</html>